
<header class="site-header cf">
<div class="header-bar">
<a class="site-title" href="http://cassanoristorante.github.io"><img class="site-logo" src="/images/logowhite.png" alt="Cassano Logo"></a>
  <div class="social-media">
  	<a class="social-link" href="https://www.facebook.com/CassanoRistorante" target="_blank"><img src="/images/facebook.png"></a>
  	<a class="social-link" href="#" target="_blank"><img src="/images/instagram.png"></a>
  </div>
</div>
<div class="page-title cf">
  <span class="fancy">coming </span><span class="bold">SOON!</span>
</div>
	<div style="text-align:center">
		<img class="main-logo cf" src="/images/logoburg.png" style="margin-top:8em;">
	</div>
  <h1 class="fancy bullet-thing">Lunch &nbsp; &bull; &nbsp; Dinner &nbsp; &bull; &nbsp; Bar &nbsp; &bull; &nbsp; Catering</h1>
</header>

